<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisableAutoLoginButtonIsHidden</key>
	<true/>
	<key>NSQuitAlwaysKeepsWindows</key>
	<false/>
	<key>NSSplitView Subview Frames keyboard.shortcuts.splitview</key>
	<array>
		<string>0.000000, 0.000000, 171.000000, 239.000000, NO, NO</string>
		<string>180.000000, 0.000000, 405.000000, 239.000000, NO, NO</string>
	</array>
	<key>NSWindow Frame Main Window Frame SystemPreferencesApp 8.0</key>
	<string>627 173 668 543 0 0 1680 1027 </string>
	<key>SecurityPrefTab</key>
	<string>FDE</string>
	<key>ThirdPartyCount</key>
	<integer>0</integer>
	<key>com.apple.PreferenceSync.ExcludeSyncKeys</key>
	<array>
		<string>Main Window Frame SystemPreferencesApp 8.0</string>
		<string>com.apple.preference.keyboard.lastselectedtab</string>
	</array>
	<key>com.apple.SecurityPref.Privacy.LastSourceSelected</key>
	<integer>0</integer>
	<key>com.apple.preference.keyboard.lastselectedtab</key>
	<string>hotkeysTabIdentifier</string>
</dict>
</plist>
